html {
    font-size: 100%; 
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #131720;
    font-family: sans-serif, 'Public Sans';
}

h3 {
    color: #fff;
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}